USE [web_visor]
GO
/****** Object:  StoredProcedure [dbo].[PROCESO_LIQUIDADOS_MOVIL_FIJA_GD]    Script Date: 20/09/2025 12:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[PROCESO_LIQUIDADOS_MOVIL_FIJA_GD] AS 

BEGIN TRY 
 /******************************************************************************
* PROCEDIMIENTO: PROCESO_LIQUIDADOS_MOVIL_FIJA_GD
* DESCRIPCIÓN: Carga y optimiza los datos de liquidaciones fijas.
* * DEPENDENCIAS:
* Este procedimiento depende de la existencia de las siguientes columnas e índices
* que deben ser creados una única vez en la tabla [WEB_VISOR].[dbo].[BASE_FINAL_LIQUIDADOS_F]:
*
* 1. Columna Calculada para fija y móvil: NOMBRE_EXCEL_UPPER
* (ALTER TABLE ... ADD NOMBRE_EXCEL_UPPER ... PERSISTED)
*
* 2. Índice: IX_LIQUIDADO_F_NOMBRE_EXCEL_UPPER y IX_LIQUIDADO_M_NOMBRE_EXCEL_UPPER
* (CREATE INDEX ... ON NOMBRE_EXCEL_UPPER)
*
* FECHA DE CREACIÓN: [20-09-2025]
* CREADO POR: Gerald
* ACTUALIZADO POR: Ronny
******************************************************************************/
INSERT INTO CORR.DBO.SA_LOG_PROCESOS_RPA (dato,estado,mensaje) values ('PROCESO_LIQUIDADOS_MOVIL_FIJA','INICIO','El proceso inició.')



--IF OBJECT_ID(N'[web_visor].[dbo].[BASE_FINAL_LIQUIDADOS_F]') IS NOT NULL DROP TABLE BASE_FINAL_LIQUIDADOS_F;
IF OBJECT_ID(N'[web_visor].[dbo].[BASE_FINAL_LIQUIDADOS_F]') IS NOT NULL TRUNCATE TABLE BASE_FINAL_LIQUIDADOS_F;
--IF OBJECT_ID(N'[web_visor].[dbo].[BASE_FINAL_LIQUIDADOS_M]') IS NOT NULL DROP TABLE BASE_FINAL_LIQUIDADOS_M;
IF OBJECT_ID(N'[web_visor].[dbo].[BASE_FINAL_LIQUIDADOS_M]') IS NOT NULL TRUNCATE TABLE BASE_FINAL_LIQUIDADOS_M;
--IF OBJECT_ID(N'[web_visor].[dbo].[BASE_FINAL_LIQUIDADOS_SF]') IS NOT NULL DROP TABLE BASE_FINAL_LIQUIDADOS_SF;
IF OBJECT_ID(N'[web_visor].[dbo].[BASE_FINAL_LIQUIDADOS_SF]') IS NOT NULL TRUNCATE TABLE BASE_FINAL_LIQUIDADOS_SF;
--IF OBJECT_ID(N'[web_visor].[dbo].[BASE_FINAL_LIQUIDADOS_SM]') IS NOT NULL DROP TABLE BASE_FINAL_LIQUIDADOS_SM;
IF OBJECT_ID(N'[web_visor].[dbo].[BASE_FINAL_LIQUIDADOS_SM]') IS NOT NULL TRUNCATE TABLE BASE_FINAL_LIQUIDADOS_SM;

SET LANGUAGE SPANISH;

---GENERA BASE FRAUDE
EXEC BASE_FRAUDE_LIQ_GD_NEW;

---GENERA BASE RPA CIERRE
EXEC GENERA_BASE_RPA_CIERRE_GD;

---GENERA BASE DESPACHADOS
EXEC BASE_DESPACHADOS_GD;
---GENERA NO DESPACHADOS
EXEC GENERA_TABLA_NO_DESPACHADOS_GD;
---GENERA DESPACHADOS
EXEC BASE_DESPACHADOS_GD;
----GENERA BASE HASBER UNICOS---
EXEC BASE_HASBER_UNICOS_GD;
----GENERA BASE RETENIDOS----
EXEC GENERA_TABLA_RETENIDOS_GD;

---Proceso Liquidados Fija
SELECT 
a.*,
FRAUDE=CASE WHEN B.numero_caso is null then 'NO' ELSE 'SI' END,
D.VALTX,
D.NTTDATA,
D.NOMBRE_INPUT AS NOMBRE_ARCHIVO,
c.*,
    CANAL_RESPONSABLE = CASE 
        WHEN NEGOCIO_U IS NOT NULL THEN NEGOCIO_U
        WHEN NEGOCIO_U IS NULL AND a.AGENTE_LIQ_LOGIN LIKE '%rpa%' AND D.NTTDATA IS NOT NULL THEN D.NTTDATA
        WHEN NEGOCIO_U IS NULL AND a.AGENTE_LIQ_LOGIN LIKE '%rpa%' AND D.VALTX IS NOT NULL THEN D.VALTX
        WHEN NEGOCIO_U IS NULL AND D.VALTX IS NULL AND (A.OBSERVACION_RECLAMO LIKE '%NTTDATA%' or d.NTTDATA like '%nttdata%')  THEN 'NTTDATA FIJA'
        WHEN NEGOCIO_U IS NULL AND D.VALTX IS NULL AND A.OBSERVACION_RECLAMO LIKE '%VALTX%' THEN 'VALTX FIJA'
        WHEN NEGOCIO_U IS NULL AND a.AGENTE_LIQ_LOGIN LIKE '%rpa%' AND D.NTTDATA IS NULL AND D.VALTX IS NULL THEN 'RPA'
		WHEN NEGOCIO_U IS NULL OR NEGOCIO_U = '' AND D.VALTX IS NULL AND D.NTTDATA IS NULL AND A.PROVEEDOR IS NOT NULL THEN A.PROVEEDOR
        WHEN NEGOCIO_U IS NULL OR NEGOCIO_U = '' AND D.VALTX IS NULL AND D.NTTDATA IS NULL AND A.PROVEEDOR IS NULL THEN 'NO_PERTENECE'
        ELSE NULL
    END,
SAR_FUNDADO = CASE 
WHEN a.FLAG_CANJE_SAR IN ('SAR_POST','SAR_ANALIZAR') THEN a.FLAG_CANJE_SAR ELSE 'RECLAMO' END
INTO #Base_Liquidados_Fija
FROM web_visor..RECLAMOS_LIQUIDADOS a
left join BASE_FRAUDE_FINAL b on a.Numero_Reclamo = b.numero_reclamo
left join web_visor..Usuarios_liq c on a.AGENTE_LIQ_LOGIN = c.USUARIO_LIQ
Left join (SELECT * FROM BASE_RPA_CIERRE_FINAL_F) D on D.COD_RECLAMO = a.Numero_Reclamo
left join web_visor..Exclusiones_Primera ex on a.NUMERO_RECLAMO= ex.cod_reclamo and ex.INSTANCIA='FIJA'
WHERE a.CALC_NEGOCIO = 'FIJA' and ex.COD_RECLAMO is null;
SELECT a.*,
DESPACHADOS=CASE WHEN B.GUIA_ULTIMO_DESPACHADO is NOT null then 'SI' ELSE 'NO' END,
RECHAZOS_DESPACHO=CASE WHEN C.MOTIVO_ULTIMO_NO_DESPACHADO IS NOT NULL then 'SI' ELSE 'NO' END,
MOTIVO_RECHAZO = MOTIVO_ULTIMO_NO_DESPACHADO,
COALESCE(B.NOMBRE_EXCEL,C.NOMBRE_EXCEL) AS NOMBRE_EXCEL,
B.FECHA_PRIMER_DESPACHADO,
B.GUIA_PRIMER_DESPACHADO,
B.FECHA_ULTIMO_DESPACHADO,
B.GUIA_ULTIMO_DESPACHADO,
B.ANALISTA,
B.NOMBRE,
B.NUMERO_RESOLUCION,
B.CANAL,
B.DIRECCION,
B.DISTRITO,
B.PROVINCIA,
B.DEPARTAMENTO,
B.NOTIFICACION_CORREO,
B.CORREO,
B.NEGOCIO_D,
B.CANTIDAD
INTO #Base_Liquidados_Fija_D
FROM #Base_Liquidados_Fija a
LEFT JOIN (SELECT * FROM BASE_DESPACHADOS_FINAL_P) b on a.Numero_Reclamo = b.COD_RECLAMO
LEFT JOIN (SELECT * FROM BASE_NO_DESPACHADOS_FINAL_P) C ON A.NUMERO_RECLAMO = C.COD_RECLAMO AND C.MOTIVO_PRIMER_NO_DESPACHADO != 'YA DESPACHADO' AND C.MOTIVO_ULTIMO_NO_DESPACHADO != 'YA DESPACHADO';
WITH Base_Liquidados_Fija_S AS (
SELECT A.*,
RECHAZOS_EMISION=CASE WHEN B.MOTIVO_NO_GENERACION_CARTA IS NOT NULL then 'SI' ELSE 'NO' END,
MOTIVO_RECHAZO_EMISION=CASE WHEN B.MOTIVO_NO_GENERACION_CARTA IS NOT NULL THEN B.MOTIVO_NO_GENERACION_CARTA ELSE 'SIN MOTIVO' END,
DAY(A.fecha_liquidacion) AS DIA_LIQUIDACION,
MONTH(A.fecha_liquidacion) AS MES_LIQUIDACION,
YEAR(A.fecha_liquidacion) AS AÑO_LIQUIDACION,
B.FECHA_CARGA,
ROW_NUMBER() OVER( PARTITION BY a.NUMERO_RECLAMO ORDER BY a.FECHA_LIQUIDACION ASC) AS [Count]
FROM #Base_Liquidados_Fija_D A
left join (SELECT * FROM NO_GENERADO_FIJA WHERE FECHA_NO_GENERACION = CONVERT(DATE,GETDATE(),103)) b on a.Numero_Reclamo= b.COD_RECLAMO
)
INSERT INTO WEB_VISOR..BASE_FINAL_LIQUIDADOS_F ([NUMERO_RECLAMO], [CASO_NUMERO], [TELEFONO], [OBSERVACION_RECLAMO], [FACTURA_NUMERO], [AGENTE_REG_LOGIN], [CLIENTE_RUC], [CALC_REGISTRO_LEGADO_CANAL], [CALC_REGISTRO_LEGADO_AREA], [CALC_REGISTRO_LEGADO_SUB_AREA], [AGENTE_LIQ_LOGIN], [RESPUESTA_LIQUIDACION], [CALC_IMPORTE_RECLAMADO], [CALC_IMPORTE_LIQUIDADO], [CALC_NEGOCIO], [fecha_reclamo], [fecha_liquidacion], [LIQUIDACIÓN], [calc_cluster_motivos], [calc_instancia], [calc_sistema], [calc_tipo_reclamo], [calc_estado_recurso], [calc_estado_reclamo], [calc_liq_resultado], [calc_canal_origen], [calc_grupo_informe], [monto_reclamado], [monto_liquidado], [cnt_registrados], [origen], [mismo_motivo], [negocio], [agrupado_cluster], [calc_plazo_estado], [calc_canal_origen_agrupado], [cnt_reiterados], [calc_comite], [fecha_actualizacion], [responsable], [poool], [mot_n1], [mot_n2], [mot_n3], [VISOR_MOTIVO1], [VISOR_MOTIVO2], [VISOR_MOTIVO3], [VISOR_FECHA_REGISTRO], [LEGADO_MOTIVO1], [LEGADO_MOTIVO2], [LEGADO_MOTIVO3], [us_elev], [us_cierra], [agrupado_cluster_2], [origen_2], [calc_flag_mt], [calc_grupo_informe2], [calc_grupo_motivo], [mismo_motivo_dashboard], [agrupado_cluster_concepto], [reg_FrontMotivo], [CALC_FLAG_KPI], [CALC_MATERIA_RECLAMABLE_RIP181], [CALC_MATERIA_RECLAMABLE_RIAF22], [CALC_MATERIA_RECLAMABLE_RIAF24], [NUMERO_DOCUMENTO_CLIENTE], [CARGO_ID], [CARGO_DESCRIPCION], [EX_ID_LEGADO], [SERVICIO_CONTRATADO_ATRIB], [TIPO_PRODUCTO_ATRIB], [NRO_SUSCRIPCION_ATRIB], [CALC_FLAG_NEGOCIO_REVISION], [mot_n3_unificado], [llave_unica], [CALC_COMENTARIO_SOLO_CLIENTE], [FLAG_POSIBLE_FRAUDE], [CALC_LIQUIDACION_LEGADO_CANAL], [CALC_LIQUIDACION_LEGADO_AREA], [CALC_LIQUIDACION_LEGADO_SUB_AREA], [CASO_KEY_PADRE], [FLAG_ERROR_REGISTRO], [Flag_RO], [AÑO], [TRIMESTRE], [mes], [SEM_MES], [SEM_NRO], [MES_NRO], [DIA], [TIPO DE CLUSTER], [TIPO DE RECLAMO], [Total_cnt], [total_monto_reclamado], [tipo_Reclamo_agrupado], [CANT_HIJOS], [PLAZO_NOTIFICACION], [PLAZO_DIAS], [PROVEEDOR], [FLAG_TC], [FLAG_CANJE_SAR], [FRAUDE], [VALTX], [NTTDATA], [NOMBRE_ARCHIVO], [USUARIO_LIQ], [NEGOCIO_U], [CANAL_U], [CANAL_RESPONSABLE], [SAR_FUNDADO], [DESPACHADOS], [RECHAZOS_DESPACHO], [MOTIVO_RECHAZO], [NOMBRE_EXCEL], [FECHA_PRIMER_DESPACHADO], [GUIA_PRIMER_DESPACHADO], [FECHA_ULTIMO_DESPACHADO], [GUIA_ULTIMO_DESPACHADO], [ANALISTA], [NOMBRE], [NUMERO_RESOLUCION], [CANAL], [DIRECCION], [DISTRITO], [PROVINCIA], [DEPARTAMENTO], [NOTIFICACION_CORREO], [CORREO], [NEGOCIO_D], [CANTIDAD], [RECHAZOS_EMISION], [MOTIVO_RECHAZO_EMISION], [DIA_LIQUIDACION], [MES_LIQUIDACION], [AÑO_LIQUIDACION], [FECHA_CARGA], [Count])
SELECT 
[NUMERO_RECLAMO], [CASO_NUMERO], [TELEFONO], [OBSERVACION_RECLAMO], [FACTURA_NUMERO], [AGENTE_REG_LOGIN], [CLIENTE_RUC], [CALC_REGISTRO_LEGADO_CANAL], [CALC_REGISTRO_LEGADO_AREA], [CALC_REGISTRO_LEGADO_SUB_AREA], [AGENTE_LIQ_LOGIN], [RESPUESTA_LIQUIDACION], [CALC_IMPORTE_RECLAMADO], [CALC_IMPORTE_LIQUIDADO], [CALC_NEGOCIO], [fecha_reclamo], [fecha_liquidacion], [LIQUIDACIÓN], [calc_cluster_motivos], [calc_instancia], [calc_sistema], [calc_tipo_reclamo], [calc_estado_recurso], [calc_estado_reclamo], [calc_liq_resultado], [calc_canal_origen], [calc_grupo_informe], [monto_reclamado], [monto_liquidado], [cnt_registrados], [origen], [mismo_motivo], [negocio], [agrupado_cluster], [calc_plazo_estado], [calc_canal_origen_agrupado], [cnt_reiterados], [calc_comite], [fecha_actualizacion], [responsable], [poool], [mot_n1], [mot_n2], [mot_n3], [VISOR_MOTIVO1], [VISOR_MOTIVO2], [VISOR_MOTIVO3], [VISOR_FECHA_REGISTRO], [LEGADO_MOTIVO1], [LEGADO_MOTIVO2], [LEGADO_MOTIVO3], [us_elev], [us_cierra], [agrupado_cluster_2], [origen_2], [calc_flag_mt], [calc_grupo_informe2], [calc_grupo_motivo], [mismo_motivo_dashboard], [agrupado_cluster_concepto], [reg_FrontMotivo], [CALC_FLAG_KPI], [CALC_MATERIA_RECLAMABLE_RIP181], [CALC_MATERIA_RECLAMABLE_RIAF22], [CALC_MATERIA_RECLAMABLE_RIAF24], [NUMERO_DOCUMENTO_CLIENTE], [CARGO_ID], [CARGO_DESCRIPCION], [EX_ID_LEGADO], [SERVICIO_CONTRATADO_ATRIB], [TIPO_PRODUCTO_ATRIB], [NRO_SUSCRIPCION_ATRIB], [CALC_FLAG_NEGOCIO_REVISION], [mot_n3_unificado], [llave_unica], [CALC_COMENTARIO_SOLO_CLIENTE], [FLAG_POSIBLE_FRAUDE], [CALC_LIQUIDACION_LEGADO_CANAL], [CALC_LIQUIDACION_LEGADO_AREA], [CALC_LIQUIDACION_LEGADO_SUB_AREA], [CASO_KEY_PADRE], [FLAG_ERROR_REGISTRO], [Flag_RO], [AÑO], [TRIMESTRE], [mes], [SEM_MES], [SEM_NRO], [MES_NRO], [DIA], [TIPO DE CLUSTER], [TIPO DE RECLAMO], [Total_cnt], [total_monto_reclamado], [tipo_Reclamo_agrupado], [CANT_HIJOS], [PLAZO_NOTIFICACION], [PLAZO_DIAS], [PROVEEDOR], [FLAG_TC], [FLAG_CANJE_SAR], [FRAUDE], [VALTX], [NTTDATA], [NOMBRE_ARCHIVO], [USUARIO_LIQ], [NEGOCIO_U], [CANAL_U], [CANAL_RESPONSABLE], [SAR_FUNDADO], [DESPACHADOS], [RECHAZOS_DESPACHO], [MOTIVO_RECHAZO], [NOMBRE_EXCEL], [FECHA_PRIMER_DESPACHADO], [GUIA_PRIMER_DESPACHADO], [FECHA_ULTIMO_DESPACHADO], [GUIA_ULTIMO_DESPACHADO], [ANALISTA], [NOMBRE], [NUMERO_RESOLUCION], [CANAL], [DIRECCION], [DISTRITO], [PROVINCIA], [DEPARTAMENTO], [NOTIFICACION_CORREO], [CORREO], [NEGOCIO_D], [CANTIDAD], [RECHAZOS_EMISION], [MOTIVO_RECHAZO_EMISION], [DIA_LIQUIDACION], [MES_LIQUIDACION], [AÑO_LIQUIDACION], [FECHA_CARGA], [Count]
FROM Base_Liquidados_Fija_S;

UPDATE web_visor..BASE_FINAL_LIQUIDADOS_F
SET CANAL_RESPONSABLE = 'VALTX FIJA' WHERE NOMBRE_EXCEL_UPPER LIKE '%VALTX%';

UPDATE web_visor..BASE_FINAL_LIQUIDADOS_F
SET CANAL_RESPONSABLE = 'VALTX FIJA' WHERE CANAL_RESPONSABLE in ('VALTX','VALTX - Fija');
UPDATE web_visor..BASE_FINAL_LIQUIDADOS_F
SET CANAL_RESPONSABLE = 'NTTDATA FIJA' WHERE NOMBRE_EXCEL_UPPER LIKE '%NTTDATA%';

UPDATE web_visor..BASE_FINAL_LIQUIDADOS_F
SET CANAL_RESPONSABLE = 'NTTDATA FIJA' WHERE CANAL_RESPONSABLE in ('NTTDATA');

UPDATE web_visor..BASE_FINAL_LIQUIDADOS_F
SET CANAL_RESPONSABLE = 'VALTX FIJA',PROVEEDOR='VALTX - FIJA'
WHERE NUMERO_RECLAMO= 'FC-296785-2025';

IF EXISTS (
    SELECT 1
    FROM corr.dbo.traza_robot_despacho tr
    LEFT JOIN corr.dbo.robot_despacho rd
        ON rd.COD_RECLAMO = tr.NUMERO_RECLAMO OR rd.COD_RECLAMO = tr.COD_RECLAMO
    WHERE rd.COD_RECLAMO IS NULL
)
BEGIN
    UPDATE bf
    SET MOTIVO_RECHAZO_EMISION = r.OBSERVACION, RECHAZOS_EMISION = 'SI'
    FROM web_visor..BASE_FINAL_LIQUIDADOS_F bf
    INNER JOIN (
        -- Lógica unificada con un solo SELECT
        SELECT tr.NUMERO_RECLAMO, tr.OBSERVACION
        FROM corr.dbo.traza_robot_despacho tr
        LEFT JOIN corr.dbo.robot_despacho rd
            ON rd.COD_RECLAMO = tr.NUMERO_RECLAMO OR rd.COD_RECLAMO = tr.COD_RECLAMO
        WHERE rd.COD_RECLAMO IS NULL
    ) AS r ON bf.NUMERO_RECLAMO = r.NUMERO_RECLAMO;
END;
--WHERE [COUNT] = '1';

---Proceso Liquidados Movil
SELECT 
    a.*,
    FRAUDE = CASE 
                WHEN B.numero_caso IS NULL THEN 'NO' 
                ELSE 'SI' 
             END,

    D.VALTX,
    D.NTTDATA,
    D.NOMBRE_INPUT AS NOMBRE_ARCHIVO,
    C.*,
    CANAL_RESPONSABLE = CASE 
        WHEN NEGOCIO_U IS NOT NULL THEN NEGOCIO_U
        WHEN NEGOCIO_U IS NULL AND a.AGENTE_LIQ_LOGIN LIKE '%rpa%' AND D.NTTDATA IS NOT NULL THEN D.NTTDATA
        WHEN NEGOCIO_U IS NULL AND a.AGENTE_LIQ_LOGIN LIKE '%rpa%' AND D.VALTX IS NOT NULL THEN D.VALTX
        WHEN NEGOCIO_U IS NULL AND D.VALTX IS NULL AND (A.OBSERVACION_RECLAMO LIKE '%NTTDATA%' or d.NTTDATA like '%nttdata%')  THEN 'NTTDATA MOVIL'
        WHEN NEGOCIO_U IS NULL AND D.VALTX IS NULL AND A.OBSERVACION_RECLAMO LIKE '%VALTX%' THEN 'VALTX MOVIL'
        WHEN NEGOCIO_U IS NULL AND a.AGENTE_LIQ_LOGIN LIKE '%rpa%' AND D.VALTX IS NULL AND D.NTTDATA IS NULL THEN 'RPA' 
		WHEN NEGOCIO_U IS NULL OR NEGOCIO_U = '' AND D.VALTX IS NULL AND D.NTTDATA IS NULL AND A.PROVEEDOR IS NOT NULL THEN A.PROVEEDOR
        WHEN NEGOCIO_U IS NULL OR NEGOCIO_U = '' AND D.VALTX IS NULL AND D.NTTDATA IS NULL AND A.PROVEEDOR IS NULL THEN 'NO_PERTENECE'        ELSE NULL
    END,
    SAR_FUNDADO = CASE 
	WHEN a.FLAG_CANJE_SAR IN ('SAR_POST','SAR_ANALIZAR') THEN a.FLAG_CANJE_SAR ELSE 'RECLAMO' END
INTO #Base_Liquidados_Movil
FROM web_visor..RECLAMOS_LIQUIDADOS a
LEFT JOIN BASE_FRAUDE_FINAL b ON a.Numero_Reclamo = b.numero_reclamo
LEFT JOIN web_visor..Usuarios_liq c ON a.AGENTE_LIQ_LOGIN = c.USUARIO_LIQ
LEFT JOIN (SELECT * FROM BASE_RPA_CIERRE_FINAL_M) D ON D.COD_RECLAMO = a.Numero_Reclamo
LEFT JOIN web_visor..robot_cartas_movil_primera rcp on a.NUMERO_RECLAMO = rcp.COD_RECLAMO AND rcp.SPEECH = 'NO DESPACHAR'
LEFT JOIN web_visor..Exclusiones_Primera ex on a.NUMERO_RECLAMO=ex.COD_RECLAMO and ex.INSTANCIA='MOVIL'
WHERE a.CALC_NEGOCIO = 'MOVIL' 
  AND rcp.COD_RECLAMO is null
  AND ex.COD_RECLAMO is null;

SELECT A.*,
DESPACHADOS=CASE WHEN B.GUIA_ULTIMO_DESPACHADO is NOT null then 'SI' ELSE 'NO' END,
RECHAZOS_DESPACHO=CASE WHEN C.MOTIVO_ULTIMO_NO_DESPACHADO IS NOT NULL then 'SI' ELSE 'NO' END,
MOTIVO_RECHAZO = MOTIVO_ULTIMO_NO_DESPACHADO,
COALESCE(B.NOMBRE_EXCEL,C.NOMBRE_EXCEL) AS NOMBRE_EXCEL,
B.FECHA_PRIMER_DESPACHADO,
B.GUIA_PRIMER_DESPACHADO,
B.FECHA_ULTIMO_DESPACHADO,
B.GUIA_ULTIMO_DESPACHADO,
B.ANALISTA,
B.NOMBRE,
B.NUMERO_RESOLUCION,
B.CANAL,
B.DIRECCION,
B.DISTRITO,
B.PROVINCIA,
B.DEPARTAMENTO,
B.NOTIFICACION_CORREO,
B.CORREO,
B.NEGOCIO_D,
B.CANTIDAD
INTO #Base_Liquidados_Movil_D
FROM #Base_Liquidados_Movil a
LEFT JOIN (SELECT * FROM BASE_DESPACHADOS_FINAL_P) b on a.Numero_Reclamo = b.COD_RECLAMO
LEFT JOIN (SELECT * FROM BASE_NO_DESPACHADOS_FINAL_P) C ON A.NUMERO_RECLAMO = C.COD_RECLAMO AND C.MOTIVO_PRIMER_NO_DESPACHADO!='YA DESPACHADO' AND C.MOTIVO_ULTIMO_NO_DESPACHADO!='YA DESPACHADO';


WITH Base_Liquidados_Movil_S AS (
SELECT A.*,
RECHAZOS_EMISION=CASE WHEN B.MOTIVO_NO_GENERACION_CARTA IS NOT NULL then 'SI' ELSE 'NO' END,
MOTIVO_RECHAZO_EMISION=CASE WHEN B.MOTIVO_NO_GENERACION_CARTA IS NOT NULL THEN B.MOTIVO_NO_GENERACION_CARTA ELSE 'SIN MOTIVO' END,
DAY(A.fecha_liquidacion) AS DIA_LIQUIDACION,
MONTH(A.fecha_liquidacion) AS MES_LIQUIDACION,
YEAR(A.fecha_liquidacion) AS AÑO_LIQUIDACION,
B.FECHA_CARGA,
ROW_NUMBER() OVER( PARTITION BY a.NUMERO_RECLAMO ORDER BY a.FECHA_LIQUIDACION ASC) AS [Count]
FROM #Base_Liquidados_Movil_D A
left join (SELECT * FROM NO_GENERADO_MOVIL WHERE FECHA_NO_GENERACION = CONVERT(VARCHAR,GETDATE(),103)) b on a.Numero_Reclamo= b.COD_RECLAMO
)
INSERT INTO BASE_FINAL_LIQUIDADOS_M (

[NUMERO_RECLAMO], [CASO_NUMERO], [TELEFONO], [OBSERVACION_RECLAMO], [FACTURA_NUMERO], [AGENTE_REG_LOGIN], [CLIENTE_RUC], [CALC_REGISTRO_LEGADO_CANAL], [CALC_REGISTRO_LEGADO_AREA], [CALC_REGISTRO_LEGADO_SUB_AREA], [AGENTE_LIQ_LOGIN], [RESPUESTA_LIQUIDACION], [CALC_IMPORTE_RECLAMADO], [CALC_IMPORTE_LIQUIDADO], [CALC_NEGOCIO], [fecha_reclamo], [fecha_liquidacion], [LIQUIDACIÓN], [calc_cluster_motivos], [calc_instancia], [calc_sistema], [calc_tipo_reclamo], [calc_estado_recurso], [calc_estado_reclamo], [calc_liq_resultado], [calc_canal_origen], [calc_grupo_informe], [monto_reclamado], [monto_liquidado], [cnt_registrados], [origen], [mismo_motivo], [negocio], [agrupado_cluster], [calc_plazo_estado], [calc_canal_origen_agrupado], [cnt_reiterados], [calc_comite], [fecha_actualizacion], [responsable], [poool], [mot_n1], [mot_n2], [mot_n3], [VISOR_MOTIVO1], [VISOR_MOTIVO2], [VISOR_MOTIVO3], [VISOR_FECHA_REGISTRO], [LEGADO_MOTIVO1], [LEGADO_MOTIVO2], [LEGADO_MOTIVO3], [us_elev], [us_cierra], [agrupado_cluster_2], [origen_2], [calc_flag_mt], [calc_grupo_informe2], [calc_grupo_motivo], [mismo_motivo_dashboard], [agrupado_cluster_concepto], [reg_FrontMotivo], [CALC_FLAG_KPI], [CALC_MATERIA_RECLAMABLE_RIP181], [CALC_MATERIA_RECLAMABLE_RIAF22], [CALC_MATERIA_RECLAMABLE_RIAF24], [NUMERO_DOCUMENTO_CLIENTE], [CARGO_ID], [CARGO_DESCRIPCION], [EX_ID_LEGADO], [SERVICIO_CONTRATADO_ATRIB], [TIPO_PRODUCTO_ATRIB], [NRO_SUSCRIPCION_ATRIB], [CALC_FLAG_NEGOCIO_REVISION], [mot_n3_unificado], [llave_unica], [CALC_COMENTARIO_SOLO_CLIENTE], [FLAG_POSIBLE_FRAUDE], [CALC_LIQUIDACION_LEGADO_CANAL], [CALC_LIQUIDACION_LEGADO_AREA], [CALC_LIQUIDACION_LEGADO_SUB_AREA], [CASO_KEY_PADRE], [FLAG_ERROR_REGISTRO], [Flag_RO], [AÑO], [TRIMESTRE], [mes], [SEM_MES], [SEM_NRO], [MES_NRO], [DIA], [TIPO DE CLUSTER], [TIPO DE RECLAMO], [Total_cnt], [total_monto_reclamado], [tipo_Reclamo_agrupado], [CANT_HIJOS], [PLAZO_NOTIFICACION], [PLAZO_DIAS], [PROVEEDOR], [FLAG_TC], [FLAG_CANJE_SAR], [FRAUDE], [VALTX], [NTTDATA], [NOMBRE_ARCHIVO], [USUARIO_LIQ], [NEGOCIO_U], [CANAL_U], [CANAL_RESPONSABLE], [SAR_FUNDADO], [DESPACHADOS], [RECHAZOS_DESPACHO], [MOTIVO_RECHAZO], [NOMBRE_EXCEL], [FECHA_PRIMER_DESPACHADO], [GUIA_PRIMER_DESPACHADO], [FECHA_ULTIMO_DESPACHADO], [GUIA_ULTIMO_DESPACHADO], [ANALISTA], [NOMBRE], [NUMERO_RESOLUCION], [CANAL], [DIRECCION], [DISTRITO], [PROVINCIA], [DEPARTAMENTO], [NOTIFICACION_CORREO], [CORREO], [NEGOCIO_D], [CANTIDAD], [RECHAZOS_EMISION], [MOTIVO_RECHAZO_EMISION], [DIA_LIQUIDACION], [MES_LIQUIDACION], [AÑO_LIQUIDACION], [FECHA_CARGA], [Count])
SELECT
[NUMERO_RECLAMO], [CASO_NUMERO], [TELEFONO], [OBSERVACION_RECLAMO], [FACTURA_NUMERO], [AGENTE_REG_LOGIN], [CLIENTE_RUC], [CALC_REGISTRO_LEGADO_CANAL], [CALC_REGISTRO_LEGADO_AREA], [CALC_REGISTRO_LEGADO_SUB_AREA], [AGENTE_LIQ_LOGIN], [RESPUESTA_LIQUIDACION], [CALC_IMPORTE_RECLAMADO], [CALC_IMPORTE_LIQUIDADO], [CALC_NEGOCIO], [fecha_reclamo], [fecha_liquidacion], [LIQUIDACIÓN], [calc_cluster_motivos], [calc_instancia], [calc_sistema], [calc_tipo_reclamo], [calc_estado_recurso], [calc_estado_reclamo], [calc_liq_resultado], [calc_canal_origen], [calc_grupo_informe], [monto_reclamado], [monto_liquidado], [cnt_registrados], [origen], [mismo_motivo], [negocio], [agrupado_cluster], [calc_plazo_estado], [calc_canal_origen_agrupado], [cnt_reiterados], [calc_comite], [fecha_actualizacion], [responsable], [poool], [mot_n1], [mot_n2], [mot_n3], [VISOR_MOTIVO1], [VISOR_MOTIVO2], [VISOR_MOTIVO3], [VISOR_FECHA_REGISTRO], [LEGADO_MOTIVO1], [LEGADO_MOTIVO2], [LEGADO_MOTIVO3], [us_elev], [us_cierra], [agrupado_cluster_2], [origen_2], [calc_flag_mt], [calc_grupo_informe2], [calc_grupo_motivo], [mismo_motivo_dashboard], [agrupado_cluster_concepto], [reg_FrontMotivo], [CALC_FLAG_KPI], [CALC_MATERIA_RECLAMABLE_RIP181], [CALC_MATERIA_RECLAMABLE_RIAF22], [CALC_MATERIA_RECLAMABLE_RIAF24], [NUMERO_DOCUMENTO_CLIENTE], [CARGO_ID], [CARGO_DESCRIPCION], [EX_ID_LEGADO], [SERVICIO_CONTRATADO_ATRIB], [TIPO_PRODUCTO_ATRIB], [NRO_SUSCRIPCION_ATRIB], [CALC_FLAG_NEGOCIO_REVISION], [mot_n3_unificado], [llave_unica], [CALC_COMENTARIO_SOLO_CLIENTE], [FLAG_POSIBLE_FRAUDE], [CALC_LIQUIDACION_LEGADO_CANAL], [CALC_LIQUIDACION_LEGADO_AREA], [CALC_LIQUIDACION_LEGADO_SUB_AREA], [CASO_KEY_PADRE], [FLAG_ERROR_REGISTRO], [Flag_RO], [AÑO], [TRIMESTRE], [mes], [SEM_MES], [SEM_NRO], [MES_NRO], [DIA], [TIPO DE CLUSTER], [TIPO DE RECLAMO], [Total_cnt], [total_monto_reclamado], [tipo_Reclamo_agrupado], [CANT_HIJOS], [PLAZO_NOTIFICACION], [PLAZO_DIAS], [PROVEEDOR], [FLAG_TC], [FLAG_CANJE_SAR], [FRAUDE], [VALTX], [NTTDATA], [NOMBRE_ARCHIVO], [USUARIO_LIQ], [NEGOCIO_U], [CANAL_U], [CANAL_RESPONSABLE], [SAR_FUNDADO], [DESPACHADOS], [RECHAZOS_DESPACHO], [MOTIVO_RECHAZO], [NOMBRE_EXCEL], [FECHA_PRIMER_DESPACHADO], [GUIA_PRIMER_DESPACHADO], [FECHA_ULTIMO_DESPACHADO], [GUIA_ULTIMO_DESPACHADO], [ANALISTA], [NOMBRE], [NUMERO_RESOLUCION], [CANAL], [DIRECCION], [DISTRITO], [PROVINCIA], [DEPARTAMENTO], [NOTIFICACION_CORREO], [CORREO], [NEGOCIO_D], [CANTIDAD], [RECHAZOS_EMISION], [MOTIVO_RECHAZO_EMISION], [DIA_LIQUIDACION], [MES_LIQUIDACION], [AÑO_LIQUIDACION], [FECHA_CARGA], [Count]
FROM Base_Liquidados_Movil_S;

UPDATE web_visor..BASE_FINAL_LIQUIDADOS_M
SET CANAL_RESPONSABLE = 'VALTX MOVIL' WHERE NOMBRE_EXCEL_UPPER LIKE '%VALTX%';

UPDATE web_visor..BASE_FINAL_LIQUIDADOS_M
SET CANAL_RESPONSABLE = 'VALTX MOVIL' WHERE CANAL_RESPONSABLE in ('VALTX','Valtx - Movil');

UPDATE web_visor..BASE_FINAL_LIQUIDADOS_M
SET CANAL_RESPONSABLE = 'NTTDATA MOVIL' WHERE NOMBRE_EXCEL_UPPER LIKE '%NTTDATA%';

UPDATE web_visor..BASE_FINAL_LIQUIDADOS_M
SET CANAL_RESPONSABLE = 'NTTDATA MOVIL' WHERE CANAL_RESPONSABLE in ('NTTDATA','NTT - Movil');


---------------------------------------------------------------------SEGUNDA INSTANCIA------------------------------------------------------------------------------------------

---Proceso Liquidados Segunda Fija
WITH Base_Liquidados_Segunda_Fija AS
(
SELECT 
A.*,
FRAUDE=CASE 
		   WHEN B.numero_caso is null then 'NO' ELSE 'SI' END,
CANAL_RESPONSABLE = CASE 
						WHEN NEGOCIO_U IS NOT NULL THEN NEGOCIO_U ELSE 'NO_PERTENECE' END,
C.*
FROM SOLUCIONES_DESARROLLO.DBO.RECLAMOS_SEGUNDA_LIQUIDADOS A
LEFT JOIN [soluciones_fuentes].DBO.BASE_FRAUDE_MODULO_KIPU b on a.Numero_Reclamo = b.numero_reclamo
LEFT JOIN web_visor..Usuarios_liq c on a.AGENTE_LIQ_LOGIN = c.USUARIO_LIQ
WHERE a.CALC_NEGOCIO = 'FIJA' and a.NUMERO_RECLAMO not in (SELECT COD_RECLAMO FROM WEB_VISOR..Exclusiones_Primera WHERE INSTANCIA = 'SEGUNDA FIJA') 
and fecha_liquidacion >= '2024-05-01'
),
Base_Liquidados_Segunda_Fija_D as (
SELECT A.*,
DESPACHADOS=CASE WHEN B.GUIA is NOT null then 'SI' ELSE 'NO' END,
B.GUIA
FROM Base_Liquidados_Segunda_Fija a
left join (SELECT * FROM CORR..ROBOT_DESPACHO WHERE INSTANCIA != 'PRIMERA' AND NOMBRE_CARPETA IS NULL AND GUIA IS NOT NULL) b on A.NUMERO_RECLAMO = B.COD_RECLAMO
),Base_Liquidados_Segunda_Fija_R AS (
SELECT 
A.*, 
RECHAZOS_DESPACHO=CASE WHEN B.GUIA is null AND DESPACHADOS = 'NO' AND B.NOMBRE_ARCHIVO IS NOT NULL then 'SI' ELSE 'NO' END,
MOTIVO_RECHAZO=CASE WHEN B.GUIA is null AND B.NOMBRE_ARCHIVO IS NOT NULL AND DESPACHADOS = 'NO' THEN B.NOMBRE_ARCHIVO ELSE 'SIN MOTIVO' END,
B.NOMBRE_EXCEL
FROM Base_Liquidados_Segunda_Fija_D A
left join (SELECT * FROM CORR..ROBOT_DESPACHO WHERE INSTANCIA != 'PRIMERA' AND NOMBRE_CARPETA IS NULL AND NOMBRE_ARCHIVO NOT IN ('YA DESPACHADOS','YA DESPACHADO') AND GUIA IS NULL ) b on A.NUMERO_RECLAMO = B.COD_RECLAMO
), Base_Liquidados_Segunda_Fija_S AS (
SELECT A.*,
RECHAZOS_EMISION=CASE WHEN B.MOTIVO_NO_GENERACION_CARTA IS NOT NULL then 'SI' ELSE 'NO' END,
MOTIVO_RECHAZO_EMISION=CASE WHEN B.MOTIVO_NO_GENERACION_CARTA IS NOT NULL THEN B.MOTIVO_NO_GENERACION_CARTA ELSE 'SIN MOTIVO' END,
DAY(A.fecha_liquidacion) AS DIA_LIQUIDACION,
MONTH(A.fecha_liquidacion) AS MES_LIQUIDACION,
YEAR(A.fecha_liquidacion) AS AÑO_LIQUIDACION,
B.FECHA_CARGA,
ROW_NUMBER() OVER( PARTITION BY a.NUMERO_RECLAMO ORDER BY a.FECHA_LIQUIDACION ASC) AS [Count],
'' AS SAR_FUNDADO
FROM Base_Liquidados_Segunda_Fija_R A
left join (SELECT * FROM NO_GENERADO_FIJA WHERE FECHA_NO_GENERACION = CONVERT(VARCHAR,GETDATE(),103)) b on a.Numero_Reclamo= b.COD_RECLAMO
)
INSERT INTO BASE_FINAL_LIQUIDADOS_SF
SELECT* FROM Base_Liquidados_Segunda_Fija_S WHERE AGENTE_LIQ_LOGIN NOT LIKE 'RPA%';


---Proceso Liquidados Segunda Movil
WITH Base_Liquidados_Segunda_Movil AS
(
SELECT 
A.*,
FRAUDE=CASE 
		   WHEN B.numero_caso is null then 'NO' ELSE 'SI' END,
CANAL_RESPONSABLE = CASE 
						WHEN NEGOCIO_U IS NOT NULL THEN NEGOCIO_U ELSE 'NO_PERTENECE' END,
C.*
FROM SOLUCIONES_DESARROLLO.DBO.RECLAMOS_SEGUNDA_LIQUIDADOS A
LEFT JOIN [soluciones_fuentes].DBO.BASE_FRAUDE_MODULO_KIPU b on a.Numero_Reclamo = b.numero_reclamo
LEFT JOIN web_visor..Usuarios_liq c on a.AGENTE_LIQ_LOGIN = c.USUARIO_LIQ
WHERE a.CALC_NEGOCIO = 'MOVIL' and a.NUMERO_RECLAMO not in (SELECT COD_RECLAMO FROM WEB_VISOR..Exclusiones_Primera WHERE INSTANCIA = 'SEGUNDA MOVIL')
and fecha_liquidacion >= '2024-05-01'
),
Base_Liquidados_Segunda_Movil_D as (
SELECT A.*,
DESPACHADOS=CASE WHEN B.GUIA is NOT null then 'SI' ELSE 'NO' END,
B.GUIA
FROM Base_Liquidados_Segunda_Movil a
left join (SELECT * FROM CORR..ROBOT_DESPACHO WHERE INSTANCIA != 'PRIMERA' AND NOMBRE_CARPETA IS NULL AND GUIA IS NOT NULL) b on A.NUMERO_RECLAMO = B.COD_RECLAMO
),Base_Liquidados_Segunda_Movil_R AS (
SELECT 
A.*, 
RECHAZOS_DESPACHO=CASE WHEN B.GUIA is null AND DESPACHADOS = 'NO' AND B.NOMBRE_ARCHIVO IS NOT NULL then 'SI' ELSE 'NO' END,
MOTIVO_RECHAZO=CASE WHEN B.GUIA is null AND B.NOMBRE_ARCHIVO IS NOT NULL AND DESPACHADOS = 'NO' THEN B.NOMBRE_ARCHIVO ELSE 'SIN MOTIVO' END,
B.NOMBRE_EXCEL
FROM Base_Liquidados_Segunda_Movil_D A
left join (SELECT * FROM CORR..ROBOT_DESPACHO WHERE INSTANCIA != 'PRIMERA' AND NOMBRE_CARPETA IS NULL AND NOMBRE_ARCHIVO NOT IN ('YA DESPACHADOS','YA DESPACHADO') AND GUIA IS NULL) b on A.NUMERO_RECLAMO = B.COD_RECLAMO
), Base_Liquidados_Segunda_Movil_S AS (
SELECT A.*,
RECHAZOS_EMISION=CASE WHEN B.MOTIVO_NO_GENERACION_CARTA IS NOT NULL then 'SI' ELSE 'NO' END,
MOTIVO_RECHAZO_EMISION=CASE WHEN B.MOTIVO_NO_GENERACION_CARTA IS NOT NULL THEN B.MOTIVO_NO_GENERACION_CARTA ELSE 'SIN MOTIVO' END,
DAY(A.fecha_liquidacion) AS DIA_LIQUIDACION,
MONTH(A.fecha_liquidacion) AS MES_LIQUIDACION,
YEAR(A.fecha_liquidacion) AS AÑO_LIQUIDACION,
B.FECHA_CARGA,
ROW_NUMBER() OVER( PARTITION BY a.NUMERO_RECLAMO ORDER BY a.FECHA_LIQUIDACION ASC) AS [Count],
'' AS SAR_FUNDADO
FROM Base_Liquidados_Segunda_Movil_R A
left join (SELECT * FROM NO_GENERADO_FIJA WHERE FECHA_NO_GENERACION = CONVERT(VARCHAR,GETDATE(),103)) b on a.Numero_Reclamo= b.COD_RECLAMO
)
INSERT INTO BASE_FINAL_LIQUIDADOS_SM SELECT * FROM Base_Liquidados_Segunda_Movil_S WHERE AGENTE_LIQ_LOGIN NOT LIKE 'RPA%';


	INSERT INTO CORR.DBO.SA_LOG_PROCESOS_RPA (dato,estado,mensaje) values ('PROCESO_LIQUIDADOS_MOVIL_FIJA','FIN','El proceso terminó sin ningún error.') 
 
END TRY 
BEGIN CATCH  
 
	INSERT INTO CORR.DBO.SA_LOG_PROCESOS_RPA (dato,estado,error) values ('PROCESO_LIQUIDADOS_MOVIL_FIJA','ERROR',ERROR_MESSAGE()) 
 
END CATCH

